@import 'tailwindcss';

@theme inline {
  --font-onest: 'Onest Variable', sans-serif;

  --color-primary: #1d5941;
  --color-primary-dark: #1c3028;
  --color-text: #04303b;
  --color-text-dark: #14203b;
  --color-text-muted: #6b7280;
  --color-bg-gray: #d7d7d7;
  --color-bg-light: #f5f5f5;
  --color-bg-dark: #111a14;
  --color-border: #e5e7eb;
  --color-border-light: rgba(187, 187, 187, 0.5);
  --color-white: #ffffff;

  --container-content: 1440px;
  --breakpoint-xs: 30rem;
}

@layer base {
  html {
    --header-height: 84px;
    scroll-padding-top: var(--header-height);
    @apply font-onest scroll-smooth;
  }

  @media (min-width: 1024px) {
    html {
      --header-height: 100px;
      scroll-padding-top: var(--header-height);
    }
  }

  body {
    overscroll-behavior: none;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  body {
    @apply text-text bg-white;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) transparent;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
